# .gitignore

# Backup files
*.bkp
*.back

# SSH keys
config/rundeck/ssh-keys/*
!config/rundeck/ssh-keys/readme.txt

# Data Directories
data/mysql/*
data/rundeck/*
!data/mysql/.placeholder
!data/rundeck/.placeholder
